* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navlinks a {
  text-decoration: none;
}

.red {
  color: red;
}

.author-name {
  color: grey;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
}

.title {
  border-bottom: 2px solid green;
  margin-top: 0.4rem;
  padding: 0.4rem;
}

.remove-link-style a {
  color: black;
  text-decoration: none;
}
